.bottom-menu.white-footer
  .container
    .row
      .col-md-2
        %a.bottomLogo{:href => "index2.html#home"} Lenderrr
      .col-md-8
        %ul.bottom-links.padding-links
          %li
            %a{"data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true", :href => "index2.html#home"} About
          %li
            %a{"data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true", :href => "index2.html#about"} Privacy Policy
          %li
            %a{"data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true", :href => "index2.html#Services"} Terms of Service
          %li
            %a{"data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true", :href => "index2.html#Portfolio"} Listing an Item
          %li
            %a{"data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true", :href => "index2.html#News"} Protection
          %li
            %a{"data-easing" => "easeOutQuint", "data-scroll" => "", "data-speed" => "2000", "data-url" => "true", :href => "index2.html#contact"} Contact
      .col-md-2
        %ul.bottom-icons.padding-links
          %li
            %a.fui-pinterest{href: "index2.html#fakelink"}
          %li
            %a.fui-facebook{:href => "index2.html#fakelink"}
          %li
            %a.fui-twitter{:href => "index2.html#fakelink"}